.image{
    height: 100vh;
    width:100vw;
    background-repeat: no-repeat;
    background-image:url('/images/newsBack.jpg');
    background-size: cover;
    background-position: center;
}

.welcome{
text-align: center;
position: relative;
top:40vh;
}



@media (max-width: 480px) { /* For very small screens (phones) */
    .image {
        height:100vh;
        width:100%;
        background-size: cover; /* Keep background filling the area */
    }
}
